/* PT Sans Regular */
@font-face {
  font-family: 'PT Sans';
  src: url('../../fonts/PTSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* PT Sans Bold */
@font-face {
  font-family: 'PT Sans';
  src: url('../../fonts/PTSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Manrope */
@font-face {
  font-family: 'Manrope';
  src: url('../../fonts/Manrope-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900; 
  font-style: normal;
  font-display: swap;
}

/* Sora */
@font-face {
  font-family: 'Sora';
  src: url('../../fonts/Sora-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Source Sans 3 */
@font-face {
  font-family: 'Source Sans 3';
  src: url('../../fonts/SourceSans3-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Urbanist */
@font-face {
  font-family: 'Urbanist';
  src: url('../../fonts/Urbanist-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}