/* Header */
@import url('./extras/reset.css');
@import url('./extras/colors.css');
@import url('./extras/fonts.css');

/* Importando as seções do site */
@import url('./sections/navigation.css');
@import url('./sections/main.css');
@import url('./sections/section2.css');
@import url('./sections/footer.css');

/* IMPORTANTE: A responsividade deve ser a ÚLTIMA coisa a ser carregada */
@import url('./extras/responsive.css');


header {
  background-color: var(--bege);
  position: relative;
  z-index: 10;
  padding: 3rem;
}


/* Botão Ver Mais */

.ver-mais {
  padding: 5px 25px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: var(--branco);
  background-color: var(--verde-claro);
  font-size: 16px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.ver-mais:hover {
  background-color: var(--verde-escuro);
}

.ver-mais:active {
  transform: scale(0.98);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}