nav {
  background-color: var(--bege);
  display: flex;
  justify-content: center;
  padding: 40px;
}

.primeiraParte {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden
}

.imgFundo {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.camadaVerde {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2; /* Fica por cima da imagem */
  
  background-color: rgba(45, 87, 44, 0.9); 
  clip-path: polygon(0% 0%, 0% 100%, 45% 100%, 100% 35%, 100% 0%);
}

.textos {
  position: absolute;
  z-index: 3;
  top: 20%;
  left: 5%;
  color: var(--branco);
}

.faixaMarketing {
  background-color: var(--verde-claro);
  display: flex;
  justify-content: center;

}